.card__container {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}

.banner {
  height: 12em;
  width: 100%;
  background-image: url("../banner1.jpg");
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  justify-content: center;
  height: 1.8em;

  margin-top: 1em;
  margin-bottom: 1.5em;
}

.form__input {
  height: 40px;
  width: 100%;
  max-width: 200px;
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
  color: rgb(15, 15, 15);
}

.form__btn {
  height: 40px;
  width: 80px;
  border-radius: 0 5px 5px 0;
  background: #ffe400;
  color: black;
  font-weight: 500;
  cursor: pointer;
}
